<div class="widget tag">
<h3 class="title">友情链接</h3>
<ul class="entry">
<li><a href="http://firedragonpzy.com.cn/" title="firedragonpzy's Blog" target="_blank">Software MyZone</a></li>
<li><a href="http://bbs.firedragonpzy.com.cn/" title="firedragonpzy's Discuz"  target="_blank">火龙论坛</a></li>
<li><a href="http://roy-pang.taobao.com/" title="firedragonpzy's Discuz"  target="_blank">应小心的易淘屋</a></li>
</ul>
</div>